  <form method="post">
    <input type="text" name="CategoryName" placeholder="Name Az" />
    <input type="text" name="CategoryName" placeholder="Name En" />
    <input type="text" name="CategoryName" placeholder="Name Ru" />
    <input type="hidden" name="LangCode" value="Az" />
    <input type="hidden" name="LangCode" value="En" />
    <input type="hidden" name="LangCode" value="Ru" />
    <br />
    <input type="text" name="PhotoUrl" />
    <br />
    <input type="submit" value="Create"/>
  </form>
